language: php
php:
- 7.1
- 7.0
- 5.6

before_install:
  - mysql -u root < schema.sql

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev

services:
  - mysql

script:
  -  php -S 127.0.0.1:8542 -t app/api & 
  - phpunit app/api/tests
