<?xml version="1.0"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">app/api/src</directory>
    <exclude>
      <directory suffix=".php">app/api/tests</directory>
    </exclude>
  </whitelist>
</filter>

</phpunit>